* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
}

.container {
  max-width: 1140px;
  padding: 0 1.2rem;
  margin: 0 auto;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

ul {
  padding: 0 1rem;
}

p,
li {
  line-height: 1.8;
  margin-bottom: 1rem;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.btn {
  text-align: center;
}
